$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray: #777;
$color-gray-dark: #999;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-black: #000;

// font-size
$default-font-size:1.6rem;

// 效果
$box-shadow-1: 0 1.5rem 4rem rgba($color-black , 0.15);

$linear-gradient-1:linear-gradient(to right , $color-secondary-light, $color-secondary-dark);
$linear-gradient-2:linear-gradient(to right , $color-primary-light, $color-primary-dark);
$linear-gradient-3:linear-gradient(to right , $color-tertiary-light, $color-tertiary-dark);

// grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;